<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" type="image/png" href="/img/weather.png" sizes="16x16">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div id="info-section">
            <div id="avarta"><img class="portrait" src="/img/myAvatar.png" alt="Avatar"></div>
            <div id="detail">
            This app was deployed on Heroku, 
            it uses Git for source control. 
            The application integrates with external REST services such as Mapbox and DarkSky.net
            <br>
            It also plays with some frontend tools, the usuals, CSS/HTML/JS.
            </div>
            </div>
    </div>

    {{>footer}}
</body>

</html>