<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" type="image/png" href="/img/weather.png" sizes="16x16">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Felix Eyetan. It uses data from Mapbox and DarkSky.net</p>
        <img class="portrait" src="/img/myAvatar.png" alt="Avatar">
    </div>

    {{>footer}}
</body>

</html>